.hero {
    @include block-margin;
    position: relative;
    height: 740px;
    display: flex;
    align-items: flex-end;
    padding: 30px;

    @media (min-width: 1729px) {
        height: 100vh;
    }

    @include vp-1023 {
        height: 460px;
    }

    @include vp-767 {
        height: auto;
        display: block;
        padding: 0;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 69.07%, #000000 100%);

        @include vp-767 {
            display: none;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 740px;

        @media (min-width: 1729px) {
            height: 100vh;
        }

        @include vp-1023 {
            height: 460px;
        }

        @include vp-767 {
            position: relative;
            margin: 0 0 20px 0;
            height: auto;
        }
    }

    &__wrapper {
        position: relative;
        @include vp-767 {
            margin: 0 auto;
        }
    }

    &__title {
        max-width: 800px;
        @media (max-width: 1404px) {
            max-width: 900px;
            width: 100%;
        }
        @include vp-1023 {
            max-width: 520px;
        }
        @include vp-767 {
            max-width: none;
        }
    }
}